/*sidebar*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.sidebar{
  position: fixed;
  height: 90.8%;
  width: 240px;
  left: -240px; 
  background: rgb(0, 255, 115);
  transition: all .5s ease;
}
.sidebar header{
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 70px;
  text-align: center;
  background: #ffffff;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: rgb(0, 0, 0);
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid #000000;
  color: #ffffff;
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: rgb(0, 255, 115);
  border-radius: 5px;
  border: 1px solid rgb(0, 255, 115);
  margin: 15px 30px;
  font-size: 29px;
  background: #000000;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  color: rgb(0, 255, 115);
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}


/*formulario*/

:root{
    --blanco: #fff;
    --negro: #000;
    --amarillo: #ffc107;
    --azul: #0097a7;
    --verde: #2bff00;
    --verde1: rgb(0, 255, 115);
  
  }
  html{
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *,*:before,*:after{
  box-sizing: inherit;
  }
  body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--negro);
  }
  .boton{
    background-color: var(--blanco);
    color: var(--negro);
    padding: 1rem 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 1rem;
    text-align: center;
    border-color: var(--verde1);
    
    
  }
  @media(min-width:480px){
    .boton{
        width:auto;
  }
  }
  .formulario{
    
    background-color: var(--verde1);
  width: min(100%, 100% ); 
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  border-color: white ;
  }
  .formulario fieldset{
    border: none;
    color: var(--verde1)
  }
  .formulario legend{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--negro);
    text-transform: uppercase;
    margin-bottom: 2rem;
  
  }
  .textfield{
    margin-bottom: 1rem;
  }
  .textfield label{
    color: var(--negro);
    font-weight: bold;
    margin-bottom: .6rem;
  display: block;
  }
  .textfield .txtfield{
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
  
  }
  input .boton{
    align-items: center;
  }
  